* {
    background-color: black;
    color: white;
}

div {
    width: 50%; 
    margin-left: 25%;
    text-align: center;
    padding: 20px 0px; 
}

img {
    width: 100%;
    border: 5px solid white;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}