* {
    margin: 0px; 
    padding: 0px; 
    border: 0px;
}

body {
    margin-top: 50px;
    position: relative;
}

/* Grey Parts */
.outer {
    background-color: dimgray;
}

div.outer.head {
    position: absolute; 
    left: 80px;
    width: 110px; 
    height: 100px;
    border-radius: 50%;
}

div.outer.body {
    position: absolute;
    top: 80px;
    left: 70px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.arm {
    position: absolute;
    height: 80px;
    width: 30px;
    border-radius: 50%;
}

.arm.left {
    transform: rotate(40deg);
}

.arm.right {
    left: 95px;
    transform: rotate(140deg);
}

/* White Parts */
.inner {
    z-index: 2;
    background-color: white;
    position: absolute;
}

.inner.head {
    z-index: 3;
    height: 70px;
    width: 55px;
    border-radius: 50%;
    top: 20px; 
}

.inner.head.left {
    left: 10px; 
}

.inner.head.right {
    left: 45px;
}

.inner.body {
    height: 130px; 
    width: 90px;
    border-radius: 50%;
    left: 20px;
}

.ice {
    background-color: white;
    width: 100%;
    height: 20px;
    position: absolute; 
    top: 210px;
    z-index: 5;
}

/* Eyes */
.eye {
    background-color: black;
    height: 20px;
    width: 14px;
    position: absolute;
    left: 21px;
    top: 20px;
    border-radius: 40%;
    z-index: 3;
}

/* Orange Parts */
.orange {
    background-color: darkorange; 
}

.nose {
    width: 30px;
    height: 20px; 
    border-radius: 60%;
    position: absolute;
    top: 53px;
    left: 40px;
    z-index: 3;
}

.foot {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    position: absolute;
    top: 110px;
    z-index: 4;
}

.foot.left {
    left: 20px;
}

.foot.right {
    left: 70px;
}